
/* 기본 공통 스타일 */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.inner {
  max-width: 1900px;
  margin: 0 auto;
  position: relative;
}
.inner .logo {
  width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin: auto;
}

/* 서브 메뉴 영역 */
.sign-menu {
  height: 200px;
  position: relative;
  /* background-color: coral; */
}
.sign-menu .sign {
  display: flex;
  position: absolute;
  right: 50px;
  bottom: 80px; 
}
.sign-menu ul.sign li {
  position: relative;
}
.sign-menu .sign li:nth-child(2)::before {
  content: ""; /* 필수 속성 */
  display: block;         
  width: 3px;
  height: 3px;
  background-color: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.sign-menu .sign a {
  font-weight: 500;
  font-size: 16px;
  color: #333;
  height: 25px;
  padding: 0 15px;
}

/* 메인 메뉴 영역 */
header {
  /* background-color: #f6f5f0; */
  /* border-bottom: 1px solid #c8c8c8; */
  max-width: 1900px; /* 가로 너비를 지정하지 않으면 최소한으로 줄어드려고 함*/
  /* position: fixed; */
  /* top: 0; fixed는 기준 자리를 잡아줘야함  */
  /* position: absolute; */
  left: 0;
  top: 0;
  /* z-index: 2; */
  margin: 0 auto;
  position: relative;

}

header .full_cover {
  width: 100%;
  position: relative;
  /* background-color: beige; */
  display: flex;
  justify-content: center;
}


header .full_cover .nav_bg {
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  transition: 1s;
  z-index: 2;
}

header > .full_cover .menu_nav:hover .nav_bg {
  height: 230px;
}

header .full_cover .menu_nav .first_depth {
  display: flex;
  padding: 30px 0;
  width: 1200px;
  justify-content: space-around
}

header .full_cover .menu_nav .first_depth .first_depth_under {
  position: relative;
  text-align: center;
  padding: 5px 45px;
}
header .full_cover .menu_nav .first_depth .first_depth_under a {
  font-weight: 700;
  font-size: 19px;
  color: #333;
}
header .full_cover .menu_nav .first_depth .first_depth_under a:hover {
  color: #008938;
}
header .full_cover .menu_nav .first_depth .second_depth {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 0;
  transition: 1s;
  overflow: hidden;
  z-index: 5;
}
header .full_cover .menu_nav .first_depth:hover .second_depth {
  height: 255px;
  margin-top: 40px;
  cursor: pointer;
}
header .full_cover .menu_nav .first_depth:hover .second_depth .second_depth_under {
  margin-bottom: 8px;
}
header .full_cover .menu_nav .first_depth .second_depth .second_depth_under:hover {
  color: #008938;
  text-decoration: underline #008938;
}

/* 슬라이드 영역 */
.visual {
  /* background-color: #f6f5ef; */
  /* margin-top: 257px; */
  display: flex;
  justify-content: center; /* 슬라이드 수평 가운데 정렬 */
  position: relative; /* 페이지네이션 요소 배치를 위해 */
  height: 500px;
}
.visual .swiper .swiper-wrapper .swiper-slide a {
  display: flex;
  justify-content: center;
}
.visual .swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
}
/* 슬라이드  */
.visual .quick-link {
  display: flex;
  width:200px;
  height: 50px;
  position: fixed;
  top: 200px;
  right: 20px;
  z-index: 9;
  text-align: center;
  line-height: 45px;
}
.visual .quick-link .link-item1 {
  width: 50%;
  background-color: #FFC20D;
  border-radius: 20px 0 0 20px;
}
.visual .quick-link .link-item2 {
  width: 50%;
  background-color: #008938;
  border-radius: 0 20px 20px 0;
}
.visual .quick-link .link-item1 a {
  color: #333;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
}
.visual .quick-link .link-item2 a {
  color: #f6f5ef;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
}

/* 유튜브 영역 */
.youtube-fullcover {
  padding: 70px 0;
}
.youtube {
  position: relative; /* 부모에 위치 기준 */
  /* height: 540px; */
  background-color: #FFC20D;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.youtube .youtube-area {
  width: 1120px;
  height: 630px;
  display: flex;
  justify-content: center;
}
#player {
  /* 부모 영역에 가득 차도록 지정 */
  width: 100%;
  height: 100%;
}
.youtube .youtube-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../image/video_cover_pattern.png");
}
.youtube-fullcover .float1 {
  position: absolute;
  width: 300px;
  left: 50px;
  top: -150px;
  z-index: 2;
}
.youtube-fullcover .float2 {
  position: absolute;
  width: 300px;
  right: 150px;
  top: 400px;
  z-index: 2;
}

/* 서브웨이 샌드위치 영역 */
.subway-menu {
  position: relative;
  padding-bottom: 50px;
}

.subway-menu .head {
  display: flex;
  max-width: 1100px;
  justify-content: space-between;
  background: url('../image/bul_tit.png');
  background-repeat: no-repeat;
}
.subway-menu .tab {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
.subway-menu .head .tab ul {
  display: flex;
  position: relative;
}
.subway-menu .head .tab ul li {
  padding: 0 20px;
}
.subway-menu .head .tab ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.subway-menu h2 {
  font-size: 40px;
  font-weight: 900;
  padding: 0 25px;
}

/* 샌드위치 메뉴 */


.subway-menu .menu-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.subway-menu .menu-img strong {
  font-size: 18px;
  font-weight: 700;
}
.subway-menu .menu-img p {
  font-size: 14px;
  padding: 5px 10px 0;
}

/* 메뉴 컨테인너 */
.subway-menu .menu-container {
  width: 100%;
  height: 400px;
  /* background-color: orange; */
  position: relative;
}
/* 클래식 */
.subway-menu .menu-img .menu-clasic {
  display: flex;
  width: 1100px;
  height: 400px;
  overflow: auto;
  transition: height 0.4s;
  position: absolute;
}
.subway-menu .menu-img .menu-clasic.hidden {
  height: 0;
  overflow: hidden;
}
.subway-menu .menu-img .menu-clasic::-webkit-scrollbar{
  height: 6px;
}
.subway-menu .menu-img .menu-clasic::-webkit-scrollbar-thumb {
  background-color: #FFC20D;
  border-radius: 5px;
  width: 10%;
}
.subway-menu .menu-img .menu-clasic::-webkit-scrollbar-thumb:hover {
  background-color: #d5a002;
}
.subway-menu .menu-img .menu-clasic .wrap {
  text-align: center;
}

.subway-menu .menu-img .wrap img{
  width: 365px;
  margin: 0 auto;
}

/* 프레쉬 */
.subway-menu .menu-img .menu-flesh {
  display: flex;
  width: 1100px;
  height: 400px;
  overflow: auto;
  transition: height 0.4s;
  position: absolute;
}
.subway-menu .menu-img .menu-flesh.hidden {
  height: 0;
  overflow: hidden;
}
.subway-menu .menu-img .menu-flesh::-webkit-scrollbar{
  height: 6px;
}
.subway-menu .menu-img .menu-flesh::-webkit-scrollbar-thumb {
  background-color: #FFC20D;
  border-radius: 5px;
  width: 10%;
}
.subway-menu .menu-img .menu-flesh::-webkit-scrollbar-thumb:hover {
  background-color: #d5a002;
}
.subway-menu .menu-img .menu-flesh .wrap {
  text-align: center;
}

.subway-menu .menu-img .wrap img{
  width: 365px;
  margin: 0 auto;
}


/* 프리미엄 */
.subway-menu .menu-img .menu-premium {
  display: flex;
  width: 1100px;
  height: 400px;
  overflow: auto;
  transition: height 0.4s;
  position: absolute;
}
.subway-menu .menu-img .menu-premium.hidden {
  height: 0;
  overflow: hidden;
}
.subway-menu .menu-img .menu-premium::-webkit-scrollbar{
  height: 6px;
}
.subway-menu .menu-img .menu-premium::-webkit-scrollbar-thumb {
  background-color: #FFC20D;
  border-radius: 5px;
  width: 10%;
}
.subway-menu .menu-img .menu-premium::-webkit-scrollbar-thumb:hover {
  background-color: #d5a002;
}
.subway-menu .menu-img .menu-premium .wrap {
  text-align: center;
}

.subway-menu .menu-img .wrap img{
  width: 365px;
  margin: 0 auto;
}

/* 모닝 */
.subway-menu .menu-img .menu-morning {
  display: flex;
  width: 900px;
  height: 400px;
  overflow: auto;
  transition: height 0.4s;
  position: absolute;
}
.subway-menu .menu-img .menu-morning.hidden {
  height: 0;
  overflow: hidden;
}
.subway-menu .menu-img .menu-morning::-webkit-scrollbar{
  height: 6px;
}
.subway-menu .menu-img .menu-morning::-webkit-scrollbar-thumb {
  background-color: #FFC20D;
  border-radius: 5px;
  width: 10%;
}
.subway-menu .menu-img .menu-morning::-webkit-scrollbar-thumb:hover {
  background-color: #d5a002;
}
.subway-menu .menu-img .menu-morning .wrap {
  text-align: center;
}

.subway-menu .menu-img .wrap img{
  width: 365px;
  margin: 0 auto;
}

/* 서브웨이 뉴스 */

.sub_news {
  width: 100%;
  height: 750px;
  background-color: #008938;
  padding: 70px 0;
  position: relative;
}

.sub_news .news_top {
  display: flex;
  justify-content: center;
}
.sub_news .news_top .top_top {
  position: relative;
}
.sub_news .news_top .top_top h2{
  font-size: 26px;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 30px;
  left: 50px;
}
.sub_news .news_top .top_top a {
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 3px 10px;
  position: absolute;
  top: 190px;
  left: 60px;
}
.sub_news .news_top .top_bottum {
  position: relative;
}
.sub_news .news_top .top_bottum h2{
  font-size: 26px;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 30px;
  right: 120px;
}
.sub_news .news_top .top_bottum a {
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 3px 10px;
  position: absolute;
  top: 190px;
  right: 280px;
}

.sub_news .new_bottum {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: absolute;
  bottom: 10px;
  left: -25px;
}
.sub_news .new_bottum .new__container {
  /* position: absolute;
  top: 20px;
  left: 130px; */
  width: 1170px;
  height: 450px;
  background-color: white;
  border-radius: 25px 0 ;
}
.sub_news .new_bottum .new__container .new__content1 {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.sub_news .new_bottum .new__container .new__content1 h2 {
  font-size: 50px;
  font-weight: 700;
  background-image: url('../image/bul_tit.png');
  background-repeat: no-repeat;
  padding: 0 25px;
}
.sub_news .new_bottum .new__container .new__content2 {
  display: flex;
  justify-content: center;
}
.sub_news .new_bottum .new__container .new__content2 .new__wrap {
  padding: 0 20px;
}
.sub_news .new_bottum .new__container .new__content2 .new__wrap img {
  border-radius: 10px;
  margin: 0 auto 10px;
}
.sub_news .new_bottum .new__container .new__content2 .new__wrap a {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
/* 푸터 */
.footer {
  width: 100%;
  padding-top: 100px;
  position: relative;
}
.footer::after {
  content: '';
  position: absolute;
  left: 0;
  top: 160px;
  width: 100%;
  height: 1px;
  background-color: #3b3b3b;
}
.footer .footer_wrap {
  background-color: #292929;
  height: 150px;
  color: #666666;
  display: flex;
  flex-direction: column;
}
.footer .footer_top {
  height: 50px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.footer .footer_top li a {
  padding: 0 15px;
  color: #666666;
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
}

.footer .footer_bottum {
  font-size: 12px;
  height: 100px;
  padding: 40px 0;
  text-align: center;
}



